img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
footer.tambien en{
color: var(--colorTitulos);
}
.redes-sociales{
    display: flex;
    justify-content: center;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}